.create {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 245px;
  margin-top: 70px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
}
